#P1
{
    font-size: 17px;
    text-indent: 20px;
    border: 2px solid rgb(206, 17, 181);
    margin: 75px;
}

#P2
{
    font-size: 17px;
    text-indent: 20px;
    border: 2px solid rgb(7, 168, 48);
    margin-left: 150px;
    margin-right: 150px;
    background: aquamarine;
}