html, body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

div 
{
    display: flex;
    flex-wrap: wrap;
}

#conteiner 
{
    height: 100%;
    width: 100%;

    background-color: aquamarine;

    justify-content: center;
    align-content: center;
}


#buttons
{
    height: 70%;
    width: 40%;

    flex-direction: column;
    justify-content: space-between;

    align-self: center;
    align-content: center;

    background-color: white;
}

#button1, #button2, #button3
{
    height: 30%;
    width: 60%;

    background-position: 50% 50%;
    background-size: 100% 100%;
}

#button1
{
    background-image: url(buttons/button1.png);
}

#button2
{
    background-image: url(buttons/button2.png);
}

#button3
{
    background-image: url(buttons/button3.png);
}
