* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

body {
    max-height: 100%;
}

p {
    margin: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: white;
}

div {
    display: table;
    position: static;
    float: left;
    border: solid 1rem white;
}

.top1,
.top2 {
    height: 15%;
}

.top1 {
    width: 35%;
    background-color: red;
}

.top2 {
    width: 65%;
    background-color: orangered;
    margin-right: -4px;
}

.content {
    display: table;
    position: static;
    width: 100%;
    height: 60%;
    background-color: green;
}

.footer1,
.footer2,
.footer3 {
    position: relative;
    bottom: 0;
    height: 25%;
    width: 33.3%;
}

.footer1 {
    background-color: goldenrod;
}

.footer2 {
    background-color: blue;
}

.footer3 {
    background-color: blueviolet;
}

/* адаптация */
@media (max-width: 414px) {
    * {
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: grid;
    }

    body {
        grid-template-rows: 20% 20% 60%;
        grid-template-areas:
        "header"
        "main"
        "footer";
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .top1,
    .top2,
    .content,
    .footer1,
    .footer2,
    .footer3 {
        display: block;
        justify-self: stretch;
        align-self: stretch;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }

    .content {
        display: block;
        grid-area: header;
    }

    .footer3 {
        grid-area: main;
    }

    .top1 {
        grid-area: footer;
    }

    .top2,
    .footer1,
    .footer2,
        {
        position: absolute;
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width: 415px) and (max-width: 1024px) {
    * {
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: grid;
    }

    body {
        max-height: 100%;
        grid-template-columns: [firstCol] 40% [secondCol] 10% [thirdCol] 50% [endCol];
        grid-template-rows: [firstRow] 15% [secondRow] 60% [thirdRow] 25% [endRow];
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .top1,
    .top2,
    .content,
    .footer1,
    .footer2,
    .footer3 {
        display: block;
        justify-self: stretch;
        align-self: stretch;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }

    .top2 {
        grid-column-start: firstCol;
        grid-column-end: secondCol;
        grid-row-start: firstRow;
        grid-row-end: secondRow;
    }

    .footer3 {
        grid-column-start: secondCol;
        grid-column-end: endCol;
        grid-row-start: firstRow;
        grid-row-end: secondRow;
    }

    .top1 {
        grid-column-start: firstCol;
        grid-column-end: endCol;
        grid-row-start: secondRow;
        grid-row-end: thirdRow;
    }

    .content {
        grid-column-start: firstCol;
        grid-column-end: thirdCol;
        grid-row-start: thirdRow;
        grid-row-end: endRow;
        display: block;
    }

    .footer2 {
        grid-column-start: thirdCol;
        grid-column-end: endCol;
        grid-row-start: thirdRow;
        grid-row-end: endRow;
    }

    .footer1 {
        position: absolute;
        display: none;
        visibility: hidden;
    }
}
