html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

.conteiner {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

div {
    display: flex;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.header,
div.footer {
    width: 100%;
    height: 10%;
}

div.header {
    align-self: flex-start;
    background-color: darkslategray;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 1%;
}

div.footer {
    align-self: flex-end;
    background-color: black;
    border-radius: 20px 20px 0px 0px;
    margin-top: 1%;
}

div.content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: gray;
    width: 100%;
    height: 70%;
}

div.content2 {
    display: none;
}

div.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

div.text1,
div.text2 {
    align-self: center;
    width: 80%;
}

div.button {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    background-color: aqua;
    width: 15%;
    height: 10%;
    margin-left: 18%;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-left: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    text-decoration-line: underline;
    color: rgb(7, 27, 4);
}

h3.header {
    margin-top: 1%;
    text-decoration-line: underline;
    color: black
}

h3.footer,
p.button {
    color: white;

}

p.button {
    margin: 1px;
}

p.content {
    color: rgb(7, 27, 4);
}
